# Generic backup and garbage files
*~
*.bak
*.swp

# End-user settings that for some reason live in config.
# Don't want them spamming up the repo.
config/jei/bookmarks.ini
config/machinemuse/powersuits-keybinds.cfg

# Various crap that generally lives in the minecraft folder
*.dll
/.ReAuth.cfg
/.mixin.out
/BotaniaVars.dat
/TombManyGraves
/astralsorcery
/backups
/betweenlands_gallery
/config.json
/crafttweaker.log
/crash-reports
/fonts
/journeymap
/local
/logs
/manifest.json
/mods
/natives
/options.txt
/patchouli_data.json
/resourcepacks
/saves
/screenshots
/servers.dat
/tv-cache
/usercache.json
/usernamecache.json
icon.png
libraries/
minecraftinstance.json

# Junctions to other local repositories
/master
/test

